
.searchResults {
    max-height: 70vh; /*Adjust as needed*/
    overflow-y: auto;
  }
  
  .resultItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .resultItemInfo {
    flex-grow: 1;
  }
  
  .resultItem h3 {
    margin: 0;
  }
  
  .addBtn {
    background-color: #1db954;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addBtn:hover {
    background-color: #147d41;
  }